@import "../base/mixin";
@import "../base/varb";

.main {
    @include wrapper;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;



    .sidebar {
        height: 100%;
        width: clamp(15%, 20%, 35%);
        background: $BackgroundColor;
        margin-right: -30px;

    }

    .button-switches {
        z-index: 1;

        button {
            @include box-shadow(0, 4px, 10px, rgba(0, 0, 0, 0.25));
            @include outline-none;
            //margin-right: -30px;
            background-color: white;
            color: white;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .content {
        @include box-shadow(0, 10px, 10px, rgba(0, 0, 0, 0.25));
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-left: -30px;

        .content-panel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
            margin-left: 10px;
            width: 100%;

            .button-view {
                margin-right: 40px;
                @include outline-none;
                cursor: pointer;
                width: 38;
                height: 31;

            }
        }



    }

}