@import "./base/mixin";
@import "./base/varb";

.wrapper {
    @include wrapper ();
    @include flexible ();

    .form {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
        max-width: 280px;

        a {
            color: rgb(64, 170, 240);
            /* Color link */
        }

        a:visited {
            color: #cecece;
            /* Color of visited link */
        }

        a:active {
            color: #006eff;
            /* Color active link */
        }

        .title {
            @include text-large (48px);
            text-align: center;
            color: $DeepSkyBlue;
        }

        .form-group {
            .input-field {
                margin: 10px 0;


                .input {
                    @include box-shadow(0, 0, 4px, rgba(0, 0, 0, 0.25));
                    @include border-radius(18px);
                    @include text-normal;
                    @include outline-none;
                    padding: 0 15px;
                    margin-left: -15px;
                    width: 100%;
                    height: 45px;

                    &::placeholder {
                        color: #cecece;
                    }

                    &:focus {
                        &::placeholder {
                            transition: 0.3s;
                            color: rgb(64, 170, 240);
                        }
                    }
                }
            }
        }

        .form-actions {
            .button-sign {
                margin-top: 48px;

                button {
                    @include border-radius(18px);
                    @include text-normal;
                    @include outline-none;
                    width: 100%;
                    height: 45px;
                    background-color: $DeepSkyBlue;
                    cursor: pointer;

                }
            }

            .pass {
                text-align: right;

                .link {
                    padding-left: 8px;
                    @include text-link;
                }
            }

            .link_sign {
                margin-top: 10px;

                .link {
                    padding-left: 8px;
                    @include text-link
                }
            }

            .terms-confition {
                margin-top: 20px;

                .link-terms-condition {

                    padding-left: 4px;
                    @include text-link
                }
            }
        }
    }
}